body {
  background-color: black;
  margin: 0;
  padding: 0;
}

header {
  background-color: 	#FAEBD7;
  border-radius: 20px 20px 0px 0px;
}

nav {
  background-color:#F5DEB3;
  text-align: center;
  font-size: 28px;
}

section {
  background-color: #FFFAFA;
}
nav> a {
  color: black;
}

a:hover {
  background-color: #FFB6C1;
}

.logotipo > img {
  height: 250px;
  width: 250px;
}

.enlaces > a {
  font-size: 50px;
}

@media (min-width:150px) and (max-width:999px) {
  .logotipo > img {
  margin:10px auto;
	display:block;
  }
  .imagenes > img{
    margin:10px auto;
  	display:block;
    width: 200px;
    height: 200px;
  }
}

@media (min-width:150px) and (max-width:2000px) {
  .enlaces {
    text-align: center;
  }
}


@media (min-width:1000px) {
    .enlaces {
      float: right;
      display: inline-block;
      padding-top: 150px;

    }

    .logotipo > img {
      padding-left: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-right: 20px;
    }

    .enlaces > a {
      font-size: 43px;
      padding-top: 85px;
    }

    .imagenes > img{
      margin:10px auto;
    	display:block;
      width: 300px;
      height: 300px;
}
